:root {
  --hole-color: #ff660e;
  --error-color: red;
  --name-color: green;
  --type-metavar: #8425b8;
  /* --code-font-family: 'Nova Mono'; */
  --code-font-family: monospace;
  --pantograph-font-family: 'Nova Mono', inherit;
  --comment-color: lightgray;
}

/* 
  fonts
*/

@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local('Neuton Regular'), local('Neuton-Regular');
}

@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono'), local('CutiveMono-Regular');
}

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular');
}

@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: local('NovaMono');
}


@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 400;
  src: local('Corben Regular'), local('Corben-Regular');
}

/* 
  html
*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* 
  .editor
*/

.editor {
  /* padding: 1em; */
  font-size: 12pt;

  font-family: var(--code-font-family);
}

code {
  font-family: var(--code-font-family);
  background-color: rgb(216, 216, 216);
  display: inline-block;
  border-radius: 0.2em;
  padding: 0 0.2em;
}

/* 
  status
*/

.status {
  padding: 0.5em 0;
  margin-bottom: 1em;
  font-size: 80%;
  background-color: rgb(213, 213, 213);
}

/* .status tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
} */

.status td {
  padding: 0.2em 0.5em;
}

.status td:first-child {
  border-right: 1px solid black;
  text-align: right;
}

.status td:last-child {
  text-align: left;
}

.status table,
.status tr,
.status td {
  border-collapse: collapse;
}

/* 
  .program
*/

.program {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */

  font-family: var(--code-font-family);

  /* margin-bottom: 1em; */
  /* padding: 0.5em 0; */

}

/* 
  .node
*/

.node {
  display: inline;
  cursor: pointer;
  border-radius: 0.5em 0.5em / 0.2em;
}

.node.zero {}

.node.suc {}

.node.lam {}

.node.app {}

.node.ref {}

.node.highlight {
  box-shadow: -2px 0 gray, 2px 0 gray;
}

.node.select-top {
  background-color: rgba(157, 157, 255, 0.5);
  box-shadow: -3px 0 blue, 3px 0 blue;
}

.node.select-bottom {
  background-color: white;
  box-shadow: -3px 0 blue, 3px 0 blue;
}

.node.cursor {
  box-shadow: -3.5px 0 blue, 3.5px 0 blue;
}

.subnode.holeExterior-inner {
  padding: 0 0.4em;
  border-radius: 1em 1em / 2em;
  background-color: rgba(255, 139, 50, 0.1);
  box-shadow:
    inset 0 0 0 2px rgb(255, 139, 50),
    0 0 2px 0 black;
}

.subnode.holeInterior-inner {
  padding: 0 0.4em;

  box-shadow: inset 0 0 4px 1px gray;
  /* border: 1px solid black; */
  border-radius: 0.4em;
}

.node.holeInterior+.subnode.punctuation.colon {
  color: var(--hole-color);
  font-weight: 900;
}

/* OLD version, which put an orange cursor around inner hole */
/* .node.holeInterior.cursor {
  box-shadow: -3px 0 orange, 3px 0 orange;
} */

.node.holeInterior.cursor,
.node.holeInterior.highlight,
.node.empty-string.cursor,
.node.empty-string.highlight {
  box-shadow: none;
}

.node.holeInterior.highlight,
.node.empty-string.highlight {
  background-color: gray;
}

.node.holeInterior.cursor>.subnode.holeInterior-inner::before,
.node.empty-string.cursor>.subnode.empty-string::before {
  display: inline-block;
  color: blue;
  width: 0px;
  content: '|';
  font-weight: bolder;
  /*    text-shadow:
        0px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue,
        -1px -1px blue, 1px 1px blue, -1px 1px blue, 1px -1px blue; */
  text-shadow: 1.5px 0px 0px blue;
}

/*
.node.holeInterior.highlight>.subnode.holeInterior-inner::before,
.node.empty-string.highlight>.subnode.empty-string::before {
  display: inline-block;
  color: grey;
  width: 0px;
  content: '|';
}
*/

/*
  .subnode
*/

.subnode {
  display: inline;
  border-radius: 1em 1em / 2em;
}

.subnode.s-pred {}

.subnode.lam-bind {}

.subnode.app-apl {}

.subnode.ref-var {}

.subnode.hole-interior {}

.subnode.string-inner {
  white-space: pre;
  color: var(--name-color);
  /* background-color: rgb(227, 227, 227); */
}

.subnode.string-inner.empty-string {
  /*color: gray;*/
  color: var(--hole-color);
  /*
  font-style: italic;
  padding: 0 0.4em;
  border-radius: 1em 1em / 2em;
  background-color: rgba(255, 139, 50, 0.1);
  box-shadow:
    inset 0 0 0 2px rgb(255, 139, 50),
    0 0 2px 0 black;
  */
}

/* 
  .subnode.punctuation
*/

.subnode.punctuation {
  white-space: pre;
}

.subnode.punctuation.lambda {
  margin-right: 0.4em;
  font-weight: bold;
}

.subnode.punctuation.mapsto {
  padding: 0 0.5em;
}

.subnode.punctuation.space {
  white-space: pre;
}

.subnode.punctuation.zeroVar {}

.subnode.punctuation.sucVar {}

.subnode.punctuation.interrogative {}

.subnode.punctuation.colon {
  margin: 0 0.4em;
}

.subnode.punctuation.let {
  margin-right: 0.4em;
}

.subnode.punctuation.let,
.subnode.punctuation.if,
.subnode.punctuation.then,
.subnode.punctuation.else,
.subnode.punctuation.inLet {
  font-weight: bold;
}

.subnode.punctuation.equals {
  margin: 0 0.4em;
}

.subnode.punctuation.inLet {
  margin: 0 0.4em;
}

.subnode.punctuation.turnstile {
  margin: 0 0.4em;
}

.subnode.punctuation.arrow {
  margin: 0 0.4em;
}

.app-circle {
  display: inline;
  cursor: pointer;
  border-radius: 0.5em 0.5em / 0.2em;
  color: lightgrey;
  font-size: 10px;
}

.subnode.punctuation.circle {
  display: inline-block;
  position: relative;
  top: -2px;
}

/* 
  .subnode.buffer
*/

.subnode.buffer {
  display: inline;
  position: relative;
  z-index: 10;
}

.subnode.buffer>.buffer-inner {
  position: absolute;
  left: 0;
  top: 2em;

  box-shadow: 0 0 0 1px black;
  border-radius: 0.2em;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.9);
}

.buffer-results {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.subnode.buffer>.buffer-inner>.buffer-results>.buffer-result {
  /* min-width: 200px; */
  white-space: nowrap;
  overflow: hidden;
  padding: 0.2em;
}

.subnode.buffer>.buffer-inner>.buffer-results>.buffer-result.buffer-focus {
  background-color: rgb(98, 98, 245, 0.25);
}

.subnode.buffer>.buffer-inner>.buffer-input {
  outline: none;
  border: none;
}

/* placeholder-cursor */

.node.placeholderCursor {}

.node.placeholderCursor>.subnode.placeholderCursor-inner {
  padding: 0 0.4em;
  border-radius: 1em 1em / 2em;
  background-color: rgba(255, 139, 50, 0.1);
  box-shadow:
    0 0 0 2px blue,
    /* inset 0 0 2px 2px black; */
    inset 0 0 2px 1px black;
}

/* preview */

.preview {
  /* display: inline-block; */
  border-radius: 1em 1em / 2em;
  /* background-color: rgba(0, 234, 179, 0.379); */
  background-color: rgb(98, 98, 245, 0.25);
}

.preview.wrap.before {
  margin-right: 0.1em;
}

.preview.wrap.before:after {
  border-radius: 1em 1em / 2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  display: inline-block;
  content: 'X';

  background-color: white;
  color: white;
}

.preview.wrap.after {
  margin-left: 0.1em;
}

.preview.wrap.after:before {
  border-radius: 1em 1em / 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  display: inline-block;
  content: 'X';

  background-color: white;
  color: white;
}

.preview.fill+.subnode,
.preview.replace+.subnode {
  /* border: 2px solid black; */
  display: none;
}


/* comment */

.commentBegin,
.commentEnd,
.commentBegin+.node>.subnode.string-inner {
  font-style: italic;
  color: gray !important;
}

/* small-step */

.smallstep-program {
  background-color: rgba(166, 0, 255, 0.105);
}

.node.smallstep {}

.node.smallstep.hole {
  padding: 0 0.4em;
  border-radius: 1em 1em / 2em;
  box-shadow:
    inset 0 0 0 2px rgb(255, 139, 50),
    0 0 2px 0 black;
  box-shadow:
    inset 0 0 0 2px rgb(255, 139, 50),
    0 0 2px 0 black;
}

.node.smallstep.string {}

.node.smallstep.cursor {}

.node.smallstep.boundary {}

.subnode.smallstep.changeDirection {}

.subnode.smallstep.sortChange {}

/* 
console
*/

.console {
  position: fixed;
  bottom: 0;
  padding: 0 0.5em;
  margin-bottom: 1em;
  width: calc(100vw - 3em);
  font-size: 80%;
  background-color: rgb(213, 213, 213);
}

.console-header {
  padding-top: 0.5em;
}

.console-controls {
  padding: 0.5em 0;
}

.console-controls button {
  margin-right: 1em;
  font-size: inherit;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}

.console-logs {
  max-height: 20em;
  ;
  overflow-y: scroll;
}

.console-log {
  padding: 0.5em 0;
  box-shadow: 0 -1px 0 0 black;
}


.hidden {
  display: none
}

.vertical-bar {
  width: .1em;
  background-color: black;
  height: 100%;
  float: right;
}

.horizontal-bar {
  height: .1em;
  background-color: black;
}

.horizontal-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.vertical-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fill-space {
  flex-grow: 1
}

.padded {
  padding: .6em
}

.typesubscript {
  color: gray;
  font-size: 14px;
}

.fill-right-space {
  background-color: orange;
  display: inline-block;
  width: 20px;
  height: 1em;
  cursor: pointer;
  border-radius: 0.5em 0.5em / 0.2em;
}

.newline-symbol {
  display: inline;
  border-radius: 0.5em 0.5em / 0.2em;
  color: lightgrey;
}

.grey.error {
  position: relative;
  display: inline-block;
  border-radius: 0;
}

.grey.error:after {
  content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: monospace;
  color: red;
  width: 100%;
  position: absolute;
  top: 12px;
  left: -1px;
  overflow: hidden;
}

.free.error {
  position: relative;
  display: inline-block;
  /* border-radius: 0; */
  background-color: rgba(255, 0, 0, 0.35);
  /* outline: rgba(255, 0, 0, 0.35);
	outline-style: inset;
	outline-width: 0.2em; */
  /* box-shadow:
		-0.2em 0 0 0 rgba(255, 0, 0, 0.35),
		0.2em 0 0 0 rgba(255, 0, 0, 0.35); */
  text-decoration: none;
}



.node.grey {
  /* color: lightgrey !important; */
  /*The problem with this was that int literals were green anyway, overriding this.*/
  opacity: 75%;
}

.inline {
  display: inline;
}

.marked {
  /*Used for the Tutorial marking terms*/
  background-color: yellow;
}

.subnode.punctuation.square {
  line-height: 12px;
  color: var(--hole-color);
  text-shadow: 1px 1px 2px gray;
}

.name {
  color: var(--name-color);
}

.subnode.punctuation.lbrace,
.subnode.punctuation.rbrace {
  color: var(--hole-color);
  font-weight: 900;
}

.subnode.punctuation.lparen::before {
  content: "(";
  margin-right: -0.5em;
}

.subnode.punctuation.rparen::before {
  content: ")";
  margin-right: -0.5em;
}

.subnode.punctuation.lparen,
.subnode.punctuation.rparen {
  font-weight: 900;
}

.TypeHoleMV {
  color: var(--type-metavar)
}

/* error-info */

.error-info {
  display: none;
  position: absolute;
  white-space: pre-wrap;

  background-color: white;
  border: 1px solid var(--error-color);
  box-shadow: 2px 2px 8px 0 black;
}

.node.highlight>.error-info {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.2em;
}

.error-info.ErrorBoundary-info {}


.PantographHeader {
  background-color: black;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--pantograph-font-family);
}

.PantographTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.PantographControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
}


.Comment_anchor+.node,
.Comment_anchor+.node>.subnode.string-inner {
  display: inline-block;
  font-family: 'Corben';
  padding: 0 0.2em;
  margin: 0.4em 0;
  color: black;
  background-color: var(--comment-color);
  /* font-style: italic; */
}


/* tutorial */


.TutorialControlButton {
  display: inline-block;
  background-color: white;
  color: black;
  outline: none;
  border: 4px inset black;
  border-radius: 0.5em 0.5em / 0.2em;
}

.TutorialControlButton:hover {
  border: 4px inset blue;
  cursor: pointer;
}

.TutorialControlButtonDummy:hover {
  border: 4px inset black;
  cursor: default;
}

.TutorialControlButton:disabled {
  background-color: gray;
  outline: none;
}

.TutorialControlButton:disabled:hover {
  border: 4px inset black;
  cursor: default;
}

.TutorialTask {
  border-radius: 0.5em 0.5em / 0.2em;
  margin: 0.6em 0;
  padding: 0.4em 0.4em;
  color: black;
  background-color: var(--comment-color);
  width: fit-content;

  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.TutorialWord-Pantograph {
  /* font-size: 1.2em; */
  font-family: var(--pantograph-font-family);
}

.Tutorial-greyError>div::after {
  font-size: 1em !important;
  top: 1.3em !important;
}